{% extends "index.html" %}

{% block title %}{{ page_title|default:"SmartStock - Login" }}{% endblock %}

{% block content %}
<div class="auth-container">
    <div class="auth-box">
        <h2>Login to SmartStock</h2>
        {% if messages %}
        {% for message in messages %}
        <p class="error">{{ message }}</p>
        {% endfor %}
        {% endif %}
        <form method="POST">
            {% csrf_token %}
            <div class="form-group">
                <label for="username">Username</label>
                <div class="input-wrapper">
                    <i class="fa fa-user"></i>
                    <input type="text" id="username" name="username" required>
                </div>
            </div>
            <div class="form-group">
                <label for="password">Password</label>
                <div class="input-wrapper">
                    <i class="fa fa-lock toggle-password" data-target="password"></i>
                    <input type="password" id="password" name="password" required>
                </div>
            </div>
            <button type="submit" class="btn">Login</button>
        </form>
        <p>Don't have an account? <a href="{% url 'signup' %}">Sign up</a></p>
    </div>
</div>
{% endblock %}